//.Active{
//  @include flex();
//  @include flexbox();
//  @include flex-direction(column);
//  width:100%;
//  header{
//      @include flexbox();
//      @include align-items(center);
//      @include justify-content(center);
//      width: 100%;
//      height: 0.44rem;
//      background: #F69A29;
//      span{
//          font-size: 20px;
//          width: 100%;
//          text-align: center;
//          line-height: 0.44rem;
//          color: #fff;
//      }
//  }
//  .active-con{
//      @include flex(1); 
//      @include flexbox();
//      @include flex-direction(column);
//      width: 100%;
//      nav{
//          width: 100%;
//          height: 0.3rem;
//          margin-bottom: .3rem;
//          ul{
//            @include flexbox();
//            width: 100%;
//            li{
//               @include flex(); 
//               text-align: center;
//               line-height: 0.3rem;
//               border-bottom: 2px solid #ccc;
//               @include box-sizing(border-box);
//               padding: 0.05rem 0;
//               &.active{
//                   border-bottom: 2px solid #F69A29;
//               }
//               i{
//                   display: block;
//                   width:100%;
//                   height: 20px; 
//                   margin:0.05rem 0; 
//                   font-size: 14px;
//                   line-height: 0.2rem;
//                   &:nth-of-type(1){
//                       border-right: 1px solid #ccc;
//                   }
//               }
//            }  
//          }
//      }
//      .act-main{
//          @include flex();
//          width: 100%;
//          @include flexbox();
////          margin-top: 30px;
//          #active-con{
//              width: 100%;
//              .swiper-slide{
//                   @include flexbox();
//                   @include flex-direction(column);
//                   @include justify-content(center);
//                   @include align-items(center);
//                  width: 100%;
//                  .act_list{
//                      @include flexbox();
//                      @include flex-direction(column);
//                      @include flex-direction(column);
//                      @include justify-content(center);
//                      width: 94%;
//                      background: #eee;
//                      margin: 0.15rem 0 0 0.1rem;
//                      &:nth-of-type(1){
//                          //visibility: hidden;
//                      }
//                      li{
//                         @include flex(1); 
//                         width: 100%;
//                         font-size: 0.12rem;
//                         &:nth-of-type(1){
//                             @include flexbox();
//                             padding:0.15rem 0.1rem;
//                             @include box-sizing(border-box);
//                             i{
//                                @include flex(3); 
//                             }
//                             b{
//                                 @include flex(1);
//                                 text-align: center;
//                             }
//                         }
//                         &:nth-of-type(2){
//                             img{
//                                 width: 100%;
//                             }
//                         }
//                         &:nth-of-type(3){
//                             padding:0.1rem 0.1rem;
//                             @include box-sizing(border-box);
//                             span{
//                                 display: block;
//                             }
//                         }
//                      }
//                  }
//              } 
//          }
//      }
//  }
//}

.Active{
    @include flex();
    @include flexbox();
    @include flex-direction(column);
    width:100%;
    header{
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        width: 100%;
        height: 0.44rem;
        background: #F69A29;
        span{
            font-size: 20px;
            width: 100%;
            text-align: center;
            line-height: 0.44rem;
            color: #fff;
        }
    }
    .active-con{
        @include flex(1); 
        @include flexbox();
        @include flex-direction(column);
        width: 100%;
        nav{
            width: 100%;
            height: 0.3rem;
            ul{
                @include flexbox();
                width: 100%;
                li{
                 @include flex(); 
                 text-align: center;
                 height: 0.3rem;
                 line-height: 0.2rem;
                 border-bottom: 2px solid #ccc;
                 @include box-sizing(border-box);
                 padding: 0.05rem 0;
                 &.active{
                     border-bottom: 2px solid #F69A29;
                 }
                 i{
                     display: block;
                     width:100%;
                     height: 20px; 
                     //margin:0.05rem 0; 
                     font-size: 14px;
                     //line-height: 0.2rem;
                     &:nth-of-type(1){
                         border-right: 1px solid #ccc;
                     }
                 }
              }  
            }
        }
        section{
            @include flex();
            @include flexbox();
            @include flex-direction(column);
            
            width: 100%;
            #active-con{
                @include flex();
                @include flexbox();
                @include flex-direction(column);
                width: 100%;
                //下拉刷新
                .head {
                    text-align: center;
                    height: .3rem;
                    line-height: .3rem;
                    //margin-top: -30px;
                }
                .head img {
                    display: inline-block;
                    transform: rotate(180deg);
                    -webkit-transform: rotate(180deg);
                    transition: transform 150ms;
                    -webkit-transition: transform 150ms;
                    height: .15rem;
                    width: .15rem;
                }
                .up {
                    transform: rotate(360deg) !important;
                    -webkit-transform: rotate(360deg) !important;
                }
                .act_list{
                    @include flexbox();
                    @include flex-direction(column);
                    @include flex-direction(column);
                    @include justify-content(center);
                    width: 94%;
                    background: #eee;
                    margin: 0.15rem 0 0 0.1rem;
                     li{
                           @include flex(1); 
                           width: 100%;
                           font-size: 0.12rem;
                           &:nth-of-type(1){
                               @include flexbox();
                               padding:0.15rem 0.1rem;
                               @include box-sizing(border-box);
                               i{
                                  @include flex(3); 
                               }
                               b{
                                   @include flex(1);
                                   text-align: center;
                               }
                           }
                           &:nth-of-type(2){
                               img{
                                   width: 100%;
                               }
                           }
                           &:nth-of-type(3){
                               padding:0.1rem 0.1rem;
                               @include box-sizing(border-box);
                               span{
                                   display: block;
                               }
                           }
                        }   
                }
                .foot {
                    text-align: center;
                    height: .3rem;
                    line-height: .3rem;
                }
                .foot img {
                    display: inline-block;
                    /*transform: rotate(0deg);*/
                    /*-webkit-transform: rotate(0deg);*/
                    transition: transform 150ms;
                    -webkit-transition: transform 150ms;
                    height: .15rem;
                    width: .15rem;
                }
                .down {
                    transform: rotate(180deg) !important;
                    -webkit-transform: rotate(180deg) !important;
                }
                
            }
        }
    }
}







