
.m-index {
    .l-container {
        @include flexbox();
        header {
            width: 100%;
            height: 0.44rem;
            background: #F69A29;
            ul {
                width: 100%;
                height: 100%;
                @include flexbox();
                li {
                    @include flex(1);
                    @include flexbox();
                    @include align-items(center);
                    @include justify-content(center);
                    color: #fff;
                    &:nth-of-type(1) {
                        @include flexbox();
                        @include align-items(center);
                        @include justify-content(center);
                        i {
                            @include flex(1);
                            text-align: right;
                            font-size: 0.16rem;
                        }
                        b {
                            @include flex(1);
                            font-size: 0.12rem;
                            text-align: center;
                        }
                    }
                    &:nth-of-type(2) {
                        @include flex(2);
                        font-size: 16px;
                    }
                }
            }
        }
        .l-home {
            @include flex(1);
            //@include flexbox();
            width: 100%;
            
            //下拉刷新
            .head {
                text-align: center;
                height: .3rem;
                line-height: .3rem;
            }
            .head img {
                display: inline-block;
                transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
                transition: transform 150ms;
                -webkit-transition: transform 150ms;
                height: .15rem;
                width: .15rem;
            }
            .up {
                transform: rotate(360deg) !important;
                -webkit-transform: rotate(360deg) !important;
            }


            .m-home {
                @include flexbox(1);
                @include flex-direction(column);
                // @include flex(4);
                width: 100%;
                height: 40%;
                .banner {
                    width: 100%;
                    height: 100%;
                    .slide-con {
                        width: 100%;
                        height: 110px;
                        background: skyblue;
                        .swiper-wrapper {
                            .swiper-slide {
                                img {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
            nav {
                width: 100%;
                height: 80px;
                ul {
                    @include flexbox();
                    height: 100%;
                    li {
                        @include flex(1);
                        @include flexbox();
                        @include flex-direction(column);
                        @include align-items(center);
                        @include justify-content(center);
                        height: 100%;
                        i {
                            display: block;
                            width: 50%;
                            margin-top: 3px;
                            img {
                                width: 100%;
                            }
                        }
                        b {
                            display: block;
                            margin-top: 5px;
                            color: #666;
                        }
                    }
                }
            }
            .wrapper {
                @include flex(3);
                //@include flexbox();
                width: 100%;
                height: 100%;
                section {
                    @include flex(1);
                    //@include flexbox();
                    @include flex-direction(column);
                    width: 100%;
                    height: 100%;
                    h2 {
                        height: 0.30rem;
                        line-height: 0.30rem;
                        color: #666;
                        text-indent: 0.1rem;
                        background: #efefef;
                    }
                    ul {
                        @include flex(1);
                        @include flexbox();
                        @include align-items(center);
                        @include justify-content(center);
                        width: 100%;
                        //height: 80px;
                        @include border(1px 0 0 0);
                        box-sizing: border-box; 
                        li {
                            @include flex(1);
                            @include flexbox();
                            @include align-items(center);
                            @include justify-content(center);
                            height: 100%;
                            color: #666;
                            padding:0.1rem 0;  
                            &:nth-of-type(1) {
                                @include flexbox();
                                img {
                                    width: 75%;
                                }
                            }
                            &:nth-of-type(2) {
                                @include flex(2);
                                @include flex-direction(column); 
                                text-align: left;
                                i {
                                    @include flexbox();
                                }
                                b {
                                    @include flexbox();
                                }
                            }
                            &:nth-of-type(3) {
                                padding-right: 0.1rem;
                                @include box-sizing(border-box);
                                @include flex(1);
                            }
                            &:nth-of-type(4) {
                                padding-right: 0.1rem;
                                @include box-sizing(border-box);
                                @include flex-direction(column);
                            }
                        }
                    }
                }
            }
            //加载更多
            .foot {
                text-align: center;
                height: .3rem;
                line-height: .3rem;
            }
            .foot img {
                display: inline-block;
                /*transform: rotate(0deg);*/
                /*-webkit-transform: rotate(0deg);*/
                transition: transform 150ms;
                -webkit-transition: transform 150ms;
                height: .15rem;
                width: .15rem;
            }
            .down {
                transform: rotate(180deg) !important;
                -webkit-transform: rotate(180deg) !important;
            }
        }
    }
}
