.jackaroo{
        @include flexbox();
        @include flex-direction(column); 
      //@include 
      width: 100%;
      height: 100%;
      background: #FFFFFF;
      header {
            width: 100%;
            height: 0.44rem;
            background: #F69A29;
            ul {
                width: 100%;
                height: 100%;
                @include flexbox();
                li {
                    @include flex(1);
                    @include flexbox();
                    @include align-items(center);
                    @include justify-content(center);
                    color: #fff;
                    &:nth-of-type(1),&:nth-of-type(3){
                        font-size: 24px;
                    }
                    &:nth-of-type(2) {
                        @include flex(2);
                        font-size: 20px;
                    }
                }
            }
        }
        .taps{
            width: 100%;
            height: 0.4rem;
            .taps-list{
                @include flexbox();
                @include align-items(center);
                 @include justify-content(center);
                 @include box-sizing(border-box);  
                 text-align: center;
                 width: 100%;
                 height: 100%;
                li{
                    @include flex();
                    @include border(0 1px 0 0);
                    @include box-sizing(border-box);
                    height: 100%;
                    line-height: 0.4rem;
                        i{ 
                            transition: all 2s;
                            &.swich-right{
                                    transform-origin: center;
                                    transform: rotate(90deg);
                                }
                            
                        }
                    
                     &.swich-left{
                        i{
                            transform: rotate(-180deg);
                        }
                    }
                    i{
                        padding-left:0.1rem;
                        @include box-sizing(border-box);
                    }
                }
            }
        }
        .info-jack{
            @include flex(1);
            @include flexbox();
            @include flex-direction(column); 
             width: 100%;
             
             //下拉刷新
            .head {
                text-align: center;
                height: .3rem;
                line-height: .3rem;
                //margin-top: -30px;
            }
            .head img {
                display: inline-block;
                transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
                transition: transform 150ms;
                -webkit-transition: transform 150ms;
                height: .15rem;
                width: .15rem;
            }
            .up {
                transform: rotate(360deg) !important;
                -webkit-transform: rotate(360deg) !important;
            }
                .jack-list {
                    @include flex(1);
                    @include flexbox();
                    @include align-items(center);
                    @include justify-content(center);
                    width: 100%;
                    @include border(1px 0 0 0);
                    box-sizing: border-box; 
                    li {
                        @include flex(1);
                        @include flexbox();
                        @include align-items(center);
                        @include justify-content(center);
                        height: 100%;
                        color: #666;
                        padding:0.1rem 0;  
                        &:nth-of-type(1) {
                            @include flexbox();
                            img {
                                width: 75%;
                            }
                        }
                        &:nth-of-type(2) {
                            @include flex(2);
                            @include flex-direction(column); 
                            text-align: left;
                            i {
                                @include flexbox();
                            }
                            b {
                                @include flexbox();
                            }
                        }
                        &:nth-of-type(3) {
                            @include flex(1);
                           padding-right: 0.1rem;
                           @include box-sizing(border-box);
                        }
                        &:nth-of-type(4) {
                            @include flex-direction(column);
                            padding-right: 0.1rem;
                            @include box-sizing(border-box);
                        }
                    }
                }
            .foot {
                text-align: center;
                height: .3rem;
                line-height: .3rem;
            }
            .foot img {
                display: inline-block;
                /*transform: rotate(0deg);*/
                /*-webkit-transform: rotate(0deg);*/
                transition: transform 150ms;
                -webkit-transition: transform 150ms;
                height: .15rem;
                width: .15rem;
            }
            .down {
                transform: rotate(180deg) !important;
                -webkit-transform: rotate(180deg) !important;
            }
        }
}
