@font-face {
  font-family: yofont;
  src: url("/easy_work/img/iconfont/iconfont.woff") format("woff"), url("/easy_work/img/iconfont/iconfont.ttf") format("truetype");
}

@font-face {
font-family: yofont;
src: url("/easy_work/img/iconfont/iconfont-back.woff") format("woff"), url("/easy_work/img/iconfont/iconfont-back.ttf") format("truetype");
}

@font-face {
font-family: yofont;
src: url("/easy_work/img/iconfont/iconfont-work.woff") format("woff"), url("/easy_work/img/iconfont/iconfont-work.ttf") format("truetype");
}

@font-face {
font-family: yofont;
src: url("/easy_work/img/iconfont/iconfont-dingwei.woff") format("woff"), url("/easy_work/img/iconfont/iconfont-dingwei.ttf") format("truetype");
}

@font-face {
font-family: yofont;
src: url("/easy_work/img/iconfont/iconfont-talk.woff") format("woff"), url("/easy_work/img/iconfont/iconfont-talk.ttf") format("truetype");
}

@font-face {
font-family: yofont;
src: url("/easy_work/img/iconfont/iconfont-self.woff") format("woff"), url("/easy_work/img/iconfont/iconfont-self.ttf") format("truetype");
}

@font-face {
font-family: yofont;
src: url("/easy_work/img/iconfont/iconfont-sign.woff") format("woff"), url("/easy_work/img/iconfont/iconfont-sign.ttf") format("truetype");
}

@font-face {
font-family: yofont;
src: url("/easy_work/img/iconfont/iconfont-sign2.woff") format("woff"), url("/easy_work/img/iconfont/iconfont-sign2.ttf") format("truetype");
}

@font-face {
font-family: yofont;
src: url("/easy_work/img/iconfont/iconfont-reg.woff") format("woff"), url("/easy_work/img/iconfont/iconfont-reg.ttf") format("truetype");
}

@font-face {
font-family: yofont;
src: url("/easy_work/img/iconfont/iconfont-detail.woff") format("woff"), url("/easy_work/img/iconfont/iconfont-detail.ttf") format("truetype");
}



.header{
    width: 100%;
        height: 0.44rem;
        background: #F69A29;
        ul {
            width: 100%;
            height: 100%;
            @include flexbox();
            li {
                @include flex(1);
                @include flexbox();
                @include align-items(center);
                @include justify-content(center);
                color: #fff;
                &:nth-of-type(1),&:nth-of-type(3){
                    font-size: 24px;
                }
                &:nth-of-type(2) {
                    @include flex(2);
                    font-size: 20px;
                }
            }
        }
}
